html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-size: 16px;
}
.VCbold {
  color: #1abc9c;
  font-weight: 700;
}
.Nbold {
  color: #ff7200;
  font-weight: 700;
}
.titulos {
  padding: 6.25rem 0 4.6875rem 0;
}
.navTop {
  height: 0.5rem;
  background: #1abc9c;
}
.navPr {
  margin-top: 2.5rem;
}
.navPr a {
  color: #000;
  font-weight: 700;
}
.navPr a:hover {
  color: #1abc9c;
}
.carrito a {
  color: #000;
  text-decoration: none;
}
.carrito span {
  color: #1abc9c;
}
.imcar {
  width: 100%;
  height: 30rem;
}
.carousel-control-prev {
  background: #1abc9c;
  width: 4.2rem;
  height: 4rem;
  padding: 1rem 0;
  border-radius: 5rem;
  margin-top: 20%;
}
.carousel-control-next {
  background: #1abc9c;
  width: 4.2rem;
  height: 4rem;
  padding: 1rem 0;
  border-radius: 5rem;
  margin-right: 2rem;
  margin-top: 20%;
}
.imcover {
  width: 100%;
  height: 30rem;
}
.section1 {
  margin-left: 0;
  margin-top: 6.25rem;
}
.section1 h3 {
  margin-top: 3.125rem;
  font-size: 1.125rem;
  text-align: center;
}
.section1 h3:hover,
.section1 i:hover {
  color: #1abc9c;
}
.section1 p {
  font-size: 0.875rem;
  text-align: center;
}
.fondo1 {
  height: 100%;
}
.producto1 h5 {
  font-size: 1.125rem;
  color: #555252;
}
.producto1 p {
  font-size: 0.875rem;
  color: #555252;
}
.productoVerMasbtn {
  font-size: 1rem;
  color: #000002;
  text-decoration: none;
}
.productoVerMasbtn:hover {
  color: #1abc9c;
}
.section10 {
  background: url(https://res.cloudinary.com/jbrionesc/image/upload/v1646591995/Proyectos_portones_LK/fondoFooter.png);
  background-size: cover;
  width: 100%;
  height: 44.6875rem;
}
.infoS10 h2 {
  color: #fff;
}
.infoS10 h6 {
  font-weight: 400;
  font-size: 1.125rem;
  color: #fff;
}
.infoS10 p {
  font-size: 0.875rem;
  color: #fff;
}
.form-control {
  background: inherit;
  border: 0.0625rem solid #fff;
}
.form-control::placeholder {
  color: #fff;
}
.form-control:hover {
  border: 0.0625rem solid #1abc9c;
}
.botonS10 {
  font-size: 1rem;
  color: #fff;
  padding: 0.3125rem 2rem;
  background: #1abc9c;
  border: 0.0625rem solid #1abc9c;
}
.iconS10:hover {
  background: #1abc9c;
  color: #fff;
}
.iconS10 {
  border: 1px solid #fff;
  color: #fff;
}
.footer {
  background: #000;
}
.footer p {
  color: #fff;
}
.red {
  margin-right: 1.5rem;
  color: #fff;
}
.face:hover {
  text-decoration: none;
  color: #053da3;
}
.insta:hover {
  text-decoration: none;
  color: #cf1196;
}
.whats:hover {
  text-decoration: none;
  color: #2dc008;
}
.selec {
  color: #fff;
}
.error_input {
  border: 2px solid #e17055;
}
